<settings>
  <profiles>
    <profile>
      <id>alfresco-internal</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>hylandsoftware-github-hxts</id>
          <url>https://maven.pkg.github.com/HylandSoftware/hxp-transform-service</url>
        </repository>
        <repository>
          <id>hylandsoftware-releases</id>
          <name>Hyland Software Releases Repository</name>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <url>https://artifacts.alfresco.com/nexus/content/repositories/hylandsoftware-releases</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>hylandsoftware-github-hxts</id>
      <username>${env.MAVEN_USERNAME}</username>
      <password>${env.MAVEN_PASSWORD}</password>
    </server>
    <server>
      <id>hylandsoftware-releases</id>
      <username>${env.NEXUS_USERNAME}</username>
      <password>${env.NEXUS_PASSWORD}</password>
    </server>
  </servers>
</settings>
